flows.json
[{"id":"2abffe2d.bfd0d2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"465a60b4.9e347","type":"inject","z":"2abffe2d.bfd0d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["6c579766.c55368"]]},{"id":"99154dd5.1870a","type":"debug","z":"2abffe2d.bfd0d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"6c579766.c55368","type":"http request","z":"2abffe2d.bfd0d2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1630807085:AAGySM4r35DwRokExJlvJ04Av5H_I0cJkfI/setWebhook?url=https://8cffc579d18d.ngrok.io/first_bot","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":60,"wires":[["99154dd5.1870a"]]},{"id":"66b5106b.a9d14","type":"http in","z":"2abffe2d.bfd0d2","name":"","url":"/first_bot","method":"post","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["d29be17e.143ba","dcc63574.2627c8","f7b70af4.8bc608"]]},{"id":"d29be17e.143ba","type":"debug","z":"2abffe2d.bfd0d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":110,"y":280,"wires":[]},{"id":"dcc63574.2627c8","type":"http response","z":"2abffe2d.bfd0d2","name":"http (200)","statusCode":"","headers":{},"x":100,"y":200,"wires":[]},{"id":"a384f2ae.ded79","type":"http request","z":"2abffe2d.bfd0d2","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":140,"wires":[["986cced2.553b6"]]},{"id":"f7b70af4.8bc608","type":"function","z":"2abffe2d.bfd0d2","name":"","func":"msg.method=\"POST\"\nmsg.url=\"https://api.telegram.org/bot1630807085:AAGySM4r35DwRokExJlvJ04Av5H_I0cJkfI/sendMessage\"\n\nmsg.payload = {\n\n  \"text\": \"Выпей воды\",\n\n  \"chat_id\": msg.payload.message.from.id,\n\n  }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["a384f2ae.ded79"]]},{"id":"986cced2.553b6","type":"debug","z":"2abffe2d.bfd0d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]}]